<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a2" class="com.jubayir.dixmlsetter.Address">
        <property name="city" value="Dhanmondi"/>
        <property name="county" value="Bangladesh"/>
        <property name="state" value="Mohammadpur"/>

    </bean>
</beans>