<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Sign Up page</title>

    <!-- Bootstrap CSS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link th:href="@{/css/elegant-icons-style.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<section id="main-content" layout:fragment="custom-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <span th:class="succes" th:text="${successMsg}"></span>
                        <span th:class="err" th:text="${rejectMsg}"></span>
                        <form class="form-signin" th:action="@{/sign-up}">

                            <div class="form-label-group">
                                <input type="text" th:field="*{firstName}" id="inputfirstName" name="firstName" class="form-control"
                                       placeholder="First Name" required="true">
                                <label for="inputfirstName">First Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="text" th:field="*{lastName}" id="inputlastName" name="lastName" class="form-control"
                                       placeholder="First Name" required="true">
                                <label for="inputlastName">Last Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="email" th:field="*{email}" id="inputEmail" name="email" class="form-control"
                                       placeholder="Email address" required autofocus>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                <input type="date" th:text="${#dates.format(user.birthDate, 'yyyy-MM-dd')}" th:field="*{birthDate}" id="inputdob" name="birthDate" class="form-control"
                                       placeholder="BirthDay Date" required="true">
                                <label for="inputdob">Date of Birth</label>
                            </div>

                            <div class="form-label-group">
                                <ul>
                                    <li>
                                <input type="radio" th:field="*{gender}" id="inputgender" value="m" name="gender" class="form-control">
                                <label for="inputgender"><span></span>Male</label>
                                    </li>

                                    <li>
                                        <input type="radio" th:field="*{gender}" id="inputgenderf" value="f" name="gender" class="form-control">
                                        <label for="inputgenderf"><span></span>Female</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up
                            </button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> Sign Up with Google
                            </button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> Sign Up with Facebook
                            </button>
                        </form>
                        <div>
                            <a href="dashboard.html">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--main content end-->

</body>
</html>