<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
            <!--inner block start here-->
            <div class="inner-block min-height" layout:fragment="custom-content">
                <h1>Update Car Category</h1>
                <span th:class="succes" th:text="${rejectMsg}"></span>
                <form th:object="${category}" th:action="@{/category/edit/}+${id}" th:method="POST">
                    <div class="form-group">
                        <label for="name">Category Name:</label>
                        <input type="text" th:value="${category.name}" th:field="*{name}" class="form-control" id="name">
                        <span th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Category Error</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <!--inner block end here-->
</body>
</html>