<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
            <!--inner block start here-->
            <div class="inner-block min-height" layout:fragment="custom-content">
              <h1>Category List</h1>

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>SL. No</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Del</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${list}">
                        <td th:text="${category.id}"></td>
                       <td th:text="${category.name}"></td>
                        <td>
                            <a th:href="@{'/category/edit/'+${category.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/category/del/'+${category.id}}">Del</a>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>SL. No</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Del</th>
                    </tr>
                    </tfoot>
                </table>



            </div>
            <!--inner block end here-->
</body>
</html>