<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        .err{
            color: red;
        }
        .succes{
            color:green;
        }
    </style>
</head>
<body>

<span th:class="succes" th:text="${successMsg}"></span>
<form th:action="@{/editRole/} + ${id}" th:object="${role}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{roleName}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Name Error</td>
        </tr>

        <tr>
            <td><input type="submit">Submit</input></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">Home</a>
</body>
</html>