<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        .err{
            color: red;
        }
        .succes{
            color:green;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/edit/} + ${id}" th:object="${student}" method="post">
    <table>
        <input type="hidden" th:field="*{id}" th:value="${student.id}"/>
        <input type="hidden" th:field="*{regiDate}" th:value="${student.regiDate}"/>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" th:value="${student.name}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}" th:value="${student.age}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}" th:value="${student.email}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>Course Completed:</td>
            <td>
                XML: <input type="checkbox" th:value="xml" th:field="*{courseCompleted}" />
                Java:  <input type="checkbox" th:value="java" th:field="*{courseCompleted}" />
                JS:  <input type="checkbox" th:value="js" th:field="*{courseCompleted}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('courseCompleted')}" th:errors="*{courseCompleted}">Email Error</td>
        </tr>

        <tr>
            <td>Gender:</td>
            <td>Female:<input type="radio" th:value="female" th:field="*{gender}" />
                Male:<input type="radio" th:value="male" th:field="*{gender}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Email Error</td>
        </tr>
        <tr>
            <td>Round:</td>
            <td>
                <select th:field="*{round}">
                    <option th:value="37">37</option>
                    <option th:value="38">38</option>
                    <option th:value="39">39</option>
                </select>

            </td>
            <td th:class="err" th:if="${#fields.hasErrors('round')}" th:errors="*{round}">Email Error</td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td><input type="date" th:field="*{birthDate}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">BirthDate Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">Home</a>
</body>
</html>