<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bottom Nav</title>
</head>
<body>

<div class="credits" th:fragment="bottomnav">
    <p>Trainee ID: 1244149. Trainee Name: Md. Jubayir Hossain. Batch : J2EE/CCSL-M/37/01. Round: 37. Project: My Project name is "Hotel Booking Management". Instructed By Md. Rajaul Islam
        Trainer J2EE CCSL. This project is submitted To Md. Moshahidul Islam Consultant IDB-BISEW IT SCHOLARSHIP PROJECT</p>

    <p>@copy; right by Md. Jubayir Hossain All right are reserved 2019.</p>
</div>
</body>
</html>