<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>Hello World!</h3>

<span style="color: green; font-weight: 900;" th:text="${successMsg}"></span>

<form th:object="${user}" th:action="@{/}" th:method="POST">
    Name:<input th:field="*{name}"/><br/>
    User Name:<input th:field="*{username}"/><br/>
    Password<input th:field="*{password}"/><br/>
    <button type="submit" value="Save">Save</button>
</form>
</body>
</html>