<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/csss/style.css}">
</head>
<body>
<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <span th:class="succes" th:text="${successMsg}"></span>
                <span th:class="err" th:text="${rejectMsg}"></span>
                <form th:method="POST" id="signup-form" class="signup-form" th:object="${user}" th:action="@{/sign-up}">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" class="form-input" name="name" id="name" placeholder="Your first Name" th:field="*{firstName}"/>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-input" name="name" id="names" placeholder="Your last Name" th:field="*{lastName}"/>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="password" id="password" placeholder="Password" th:field="*{password}"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" th:field="*{password}"/>
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-input" name="email" id="bod" placeholder="Your DOB" th:field="*{birthDate}"/>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<input type="radio" class="form-input" name="email" id="gender" th:field="*{gender}"/>-->
                        <!--<label for="gender"><span></span>Male</label>-->
                    <!--</div>-->

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                    </div>
                </form>
                <p class="loginhere">
                    Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>

</div>
<!-- JS -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>